/* You can add global styles to this file, and also import other style files */
/*
    Top div element changes
*/
.nav{
    display: flex;
    position: relative;
    top: 0;
    flex-direction:row;
    justify-content: space-between;
    background-color: black;
    padding: 1rem;
    height: 20vh;
    width: 100%;
    justify-content: space-evenly;
}
.nav div{
    display: flex;
    flex-direction: column;
    padding: 0.5rem
}
.nav div div{
    display: flex;
    align-items: flex-end;
}
.nav img{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;;
}
.nav div a{
    color: purple;
}  
.nav div a:hover{
    color: blue;
}
.suscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-style:solid;
    font-size: 3rem;
    font-weight:bold;
    height: 4rem;
    width: 16rem;
    padding: 0.5rem 1rem;
    margin: auto 0;
    text-decoration: none;
    border-radius: 5px;
    color:rgb(233, 58, 58) ;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;;
}
.suscribe:hover{
    border-color: lightgreen;
    color:mediumslateblue
}
.suscribe:active{
    background-color: black;
    border-color: white;
    color: white;
}



/*
    Mid document changes
*/
.text{
    /*
        bullshit code
        font-size: 2rem;
    */
    font-style: helvetica;
}
.spreen{
    display: flex;
    height: 91.5%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.img-container{
    display: flex;
}


/*
    Css celular
*/
.cellphone{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 350px;
    margin: 3rem 0 ;
    border-radius: 15px;
    border-width: 0.5rem;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
}
.cellphone-screen{
    font-size:large;
    flex-direction: column;
}
.top{
    background-color: gray;
    height: 2.5%;
    width: 100%;
}
.foot{
    background-color: gray;
    height: 6%;
    width: 100%;
    margin-top: auto;
}